body{
    background-color: #f0f0f5;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.todo-container{
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}



input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

button{
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: #45a049;
}


ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: #e7f3ff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

li span{
    flex: 1;
}

li button{
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}